<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Artistas</h2>
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" formControlName="idartist" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
            <mat-label>Artista</mat-label>
            <input matInput placeholder="nameartist" formControlName="nameartist" />
            <mat-error
              *ngIf="obtenerControlCampo('nameartist')?.errors?.['required']"
            >
              El nombre del Artista es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
        <mat-form-field class="example-full-width">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let c of listaGenders" [value]="c.idGender">
              {{ c.nameGender}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="obtenerControlCampo('gender')?.errors?.['required']">
            El genero es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/socios">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
