<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h2>Registro de Temperamento</h2>
        <form [formGroup]="form" (submit)="registrar()" class="example-form">
            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>idTemper</mat-label>
                <input matInput placeholder="Id" formControlName="idTemper"/>
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width">
                <mat-label>Temperamento</mat-label>
                <input matInput placeholder="Temperamento" formControlName="nameTemper" />
                <mat-error
                    *ngIf="obtenerControlCampo('nameTemper')?.errors?.['required']"
                >
                El nombre del Temperamento es obligatorio
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width">
              <mat-label>Descripcion</mat-label>
              <input matInput placeholder="Descripcion" formControlName="descriptionTemper" />
              <mat-error
                  *ngIf="obtenerControlCampo('descriptionTemper')?.errors?.['required']"
              >
              La descripcion del Temperamento es obligatorio
              </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Puntuacion</mat-label>
            <input matInput placeholder="Puntuacion" formControlName="minScore" />
            <mat-error
                *ngIf="obtenerControlCampo('minScore')?.errors?.['required']"
            >
            La Puntuacion del Temperamento es obligatorio
            </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let g of ListaGeneros" [value]="g.idGender">
              {{g.nameGender}}
            </mat-option>
          </mat-select>
          <mat-error
          *ngIf="obtenerControlCampo('gender')?.errors?.['required']"
        >
          El  Genero es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/components/tempers">Cancelar</button>
            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>
</html>
