<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container" style="text-align: center">
    <h2>Registro de Canciones</h2>
    <form [formGroup]="form" (submit)="registrar()" class="example-form">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>idCancion</mat-label>
        <input matInput placeholder="Id" formControlName="idSong" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Cancion</mat-label>
        <input matInput placeholder="Cancion" formControlName="nameSong" />
        <mat-error
         *ngIf="obtenerControlCampo('nameSong')?.errors?.['required']"
         >
          La descripcion de la canción es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Genero</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let g of listaGeneros" [value]="g.idGender">
            {{g.nameGender}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="obtenerControlCampo('gender')?.errors?.['required']">
          El Género es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Artista</mat-label>
        <mat-select formControlName="artist">
          <mat-option *ngFor="let a of listaArtistas" [value]="a.idArtist">
            {{a.nameArtist}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="obtenerControlCampo('artist')?.errors?.['required']">
          El artista es obligatorio de la canción es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="example-full-width">
        <input
          matInput
          placeholder="Ingrese fecha"
          [matDatepicker]="picker"
          formControlName="fechaSong"
          [max]="maxFecha"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
        <mat-error
          *ngIf="obtenerControlCampo('fechaSong')?.errors?.['required']"
        >
          La fecha es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/components/canciones">
        Cancelar
      </button>
      <p>{{ mensaje }}</p>
    </form>
  </div>
</body>
</html>
