<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container" style="text-align: center">
    <h2>Registro de Canciones</h2>
    <form [formGroup]="form" (submit)="registrar()" class="example-form">

      <mat-form-field class="example-full-width">
        <mat-label>Canción</mat-label>
        <input matInput placeholder="Canción" formControlName="nombre" />
        <mat-error *ngIf="obtenerControlCampo('nombre')?.errors?.['required']">
          El nombre de la canción es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Descripcion" formControlName="descripcion" />
        <mat-error *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']">
          La descripcion de la canción es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Genero</mat-label>
        <mat-select formControlName="Género">
          <mat-option *ngFor="let g of listaGeneros" [value]="g.idGender">
            {{g.nameGender}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="obtenerControlCampo('gender')?.errors?.['required']">
          El Género es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Fecha</mat-label>
        <input matInput placeholder="Fecha" formControlName="Fecha" />
        <mat-error *ngIf="obtenerControlCampo('Fecha')?.errors?.['required']">
          La fecha de la canción es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/components/socios">
        Cancelar
      </button>
      <p>{{ mensaje }}</p>
    </form>
  </div>
</body>
</html>
