<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container" style="text-align: center">
    <h2>Registro de Canciones</h2>
    <form [formGroup]="form" (submit)="registrar()" class="example-form">

      <mat-form-field class="example-full-width">
        <mat-label>Canción</mat-label>
        <input matInput placeholder="Canción" formControlName="nombre" />
        <mat-error *ngIf="obtenerControlCampo('nombre')?.errors?.['required']">
          El nombre de la canción es obligatorio.
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select formControlName="genero">
          <mat-option *ngFor="let food of listaGeneros" [value]="food.idGender">
            {{food.nameGender}}
          </mat-option>
        
        </mat-select>
        <mat-error *ngIf="obtenerControlCampo('genero')?.errors?.['required']">
          El Género es obligatorio.
        </mat-error>
      </mat-form-field>

      <br />
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/components/song">
        Cancelar
      </button>
      <p>{{ mensaje }}</p>
    </form>
  </div>
</body>
</html>
