body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-size: 18px;
}

.music-image {
    max-width: 100%;
    height: auto;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    background: url('https://www.wallpaperuse.com/wallp/41-411857_m.jpg') center/cover; /* Ajusta la ruta de la imagen según tu estructura de carpetas y el tamaño de la imagen */
    color: white; /* Ajusta el color del texto según sea necesario */
    font-family: Arial, sans-serif; /* Ajusta la fuente según sea necesario */
  }