    <mat-toolbar backgroundColor="#FF0000" *ngIf="verificar()">

        <button mat-button [matMenuTriggerFor]="menuArtista">Artistas</button>
        <button mat-button [matMenuTriggerFor]="menuCanciones">Canciones</button>
        <button mat-button [matMenuTriggerFor]="menuGeneros" *ngIf="validarRol()">Generos</button>
        <button mat-button [matMenuTriggerFor]="menuSalir">Usuario</button>

    </mat-toolbar>
      
    <mat-menu #menuArtista="matMenu">
        <button mat-menu-item routerLink="/Artista/nuevo">Registrar</button>
        <button mat-menu-item routerLink="/Artista">Listar</button>
        <button mat-menu-item routerLink="/Artista/reporte">Buscar</button>
    </mat-menu>  
    <mat-menu #menuCanciones="matMenu">
        <button mat-menu-item routerLink="/Artista/nuevo">Registrar</button>
        <button mat-menu-item routerLink="/Artista">Listar</button>
        <button mat-menu-item routerLink="/Artista/reporte">Buscar</button>
    </mat-menu> 
    <mat-menu #menuGeneros="matMenu">
        <button mat-menu-item routerLink="components/genders/nuevo" *ngIf="role == 'ADMIN'">Registrar Genero</button>
        <button mat-menu-item routerLink="components/genders">Listar</button>
    </mat-menu>
    
    <mat-menu #menuSalir="matMenu">
        <button mat-menu-item routerLink="/login" (click)="cerrar()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
      
        </button>
        <button mat-menu-item >Rol:
          <span>{{role}}</span>
        </button>
        <!-- Agrega más elementos de menú si es necesario -->
      </mat-menu>
    
<router-outlet></router-outlet>