    <mat-toolbar backgroundColor="#FF0000" *ngIf="verificar()">
        <button mat-button [matMenuTriggerFor]="menuInicio">Inicio</button>
        <button mat-button [matMenuTriggerFor]="menuArtista">Artistas</button>
        <button mat-button [matMenuTriggerFor]="menuCanciones">Canciones</button>
        <button mat-button [matMenuTriggerFor]="menuGeneros" *ngIf="validarRol()">Generos</button>
        <button mat-button [matMenuTriggerFor]="menuTemperamentos" *ngIf="validarRol()">Temperamentos</button>
        <button mat-button [matMenuTriggerFor]="menuPlaylistdeusuarios" *ngIf="validarRol()">Playlists de Usuario</button>
        <button mat-button [matMenuTriggerFor]="menuSalir">Usuario</button>

    </mat-toolbar>

    <mat-menu #menuInicio="matMenu">
      <button mat-menu-item routerLink="components/inicio">Inicio</button>
    </mat-menu>
      
    <mat-menu #menuArtista="matMenu">
        <button mat-menu-item routerLink="components/artists/nuevo" *ngIf="role == 'ADMIN'">Registrar Artista</button>
        <button mat-menu-item routerLink="components/artists">Listar</button>
        <button mat-menu-item routerLink="/Artista/reporte">Buscar</button>
    </mat-menu>  
    <mat-menu #menuCanciones="matMenu">
        <button mat-menu-item routerLink="components/artist/nuevo" *ngIf="role == 'ADMIN'">Registrar Canciones</button>
        <button mat-menu-item routerLink="components/artist">Listar</button>
        <button mat-menu-item routerLink="/Artista/reporte">Buscar</button>
    </mat-menu>
    <mat-menu #menuGeneros="matMenu">
        <button mat-menu-item routerLink="components/genders/nuevo" *ngIf="role == 'ADMIN'">Registrar Genero</button>
        <button mat-menu-item routerLink="components/genders">Listar</button>
    </mat-menu>
    <mat-menu #menuTemperamentos="matMenu">
      <button mat-menu-item routerLink="/components/tempers/nuevo">Registrar</button>
      <button mat-menu-item routerLink="/components/tempers">Listar</button>
  </mat-menu>
  <mat-menu #menuPlaylistdeusuarios="matMenu">
    <button mat-menu-item routerLink="components/playlistinusers/nuevo" *ngIf="role == 'USER'">Registrar Playlist de Usuario</button>
    <button mat-menu-item routerLink="components/playlistinusers">Listar</button>
  </mat-menu>
    
    <mat-menu #menuSalir="matMenu">
        <button mat-menu-item routerLink="/login" (click)="cerrar()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
      
        </button>
        <button mat-menu-item >Rol:
          <span>{{role}}</span>
        </button>
        <!-- Agrega más elementos de menú si es necesario -->
      </mat-menu>
    
<router-outlet></router-outlet>