body {
  margin: 0;
  padding: 0;
  background: url('https://www.wallpaperuse.com/wallp/41-411857_m.jpg') center/cover; /* Ajusta la ruta de la imagen según tu estructura de carpetas y el tamaño de la imagen */
  color: white; /* Ajusta el color del texto según sea necesario */
  font-family: Arial, sans-serif; /* Ajusta la fuente según sea necesario */
}
  
header {
    text-align: center;
  }
  
h1 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.5em;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ccc;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubbles{
  position: relative;
  display: flex;
}
.bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background-color: aqua;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s/var(--i));
}
.bubbles span:nth-child(even){
  background: #be1212;
  box-shadow: 0 0 0 10px #be1212,
  0 0 50px #be1212,
  0 0 100px #be1212;
}
@keyframes animate {

  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
}