<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>La mejor música del mundo</h1>
        <p>Descubre la mejor música de todos los géneros</p>
    </header>
    <main>
        <section class="categorias">
          <h2>Categorías</h2>
          <ul>
            <li><a href="#">Rock</a></li>
            <li><a href="#">Pop</a></li>
            <li><a href="#">Electrónica</a></li>
            <li><a href="#">Jazz</a></li>
            <li><a href="#">Clásica</a></li>
          </ul>
        </section>
        <section class="artistas">
          <h2>Artistas</h2>
          <ul>
            <li><a href="#">The Beatles</a></li>
            <li><a href="#">Michael Jackson</a></li>
            <li><a href="#">Queen</a></li>
            <li><a href="#">Beyoncé</a></li>
            <li><a href="#">Adele</a></li>
          </ul>
        </section>
        <section class="canciones">
          <h2>Canciones</h2>
          <ul>
            <li><a href="#">Imagine</a></li>
            <li><a href="#">Thriller</a></li>
            <li><a href="#">Bohemian Rhapsody</a></li>
            <li><a href="#">Halo</a></li>
            <li><a href="#">Someone Like You</a></li>
          </ul>
        </section>
      </main>
      <footer>
        <p>Copyright 2023</p>
      </footer>
</body>
</html>
